#
# configuration file for the renew.sh script
#
# the ID of the cloudfront distribution we assign the refreshed 
#  certificate to
export CLOUDFRONT_DISTRIBUTION_ID={{ certificate_renewal.cloudfront_distribution}}

# the domain for which we request a certificate, i.e. www.kacon.ch
export CERTBOT_DOMAIN={{certificate_renewal.certbot.domain }}

# the email-adresse submitted to certbot
export CERTBOT_EMAIL={{certificate_renewal.certbot.email }}
