{
    "cluster": "default", 
    "taskDefinition": "arn:aws:ecs:eu-central-1:154819770423:task-definition/certificate-renewal:65", 
    "group": "certificate-renewal",
    "networkConfiguration": {
        "awsvpcConfiguration": {
            "subnets": [
                "subnet-82fbbdff"
            ], 
            "securityGroups": [
                "sg-c44921a8"
            ], 
            "assignPublicIp": "ENABLED"
        }
    }
}
